<% if signed_in? %>
	<div class="row">
		<aside class="span4">
			<section>
				<%= render 'shared/user_info' %>
			</section>
			<section>
				<%= render 'shared/stats' %>
			</section>
			<section>
				<%= render 'shared/minituit_form' %>
			</section>
		</aside>
		<div class="span8">
			<h3>iTuits feed</h3>
			<%= render 'shared/feed' %>
		</div>
	</div>
<% else %>
<div class="center hero-unit">
	<h1>Bienvenido a iTuits</h1>

	<h2>
		Página de inicio de <a href="localhost.com/3000">iTuits</a>, aplicación
		de ejemplo.
	</h2>

	<%= link_to "Inicia sesion!", registro_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org' %>

<% end %>
